*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f8f8f8;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
img{
    /* width: 100%; */
    display: block;
    height: 300px;
    object-fit: cover;
    background-position: top center !important;
    position: relative;
}
.team{
    text-align: center;
    font-size: 25px;
    color: #ffa62b;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2{
    color: black;
}
ul li{
    list-style: none;
    padding: 0;
}
.text{
    text-align: center;
}
h3{
    color:#3d424a;
    font-size: 20px;
    font-weight: 500;
}
p{
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    text-transform: uppercase;
}
.box-header:hover{
    background-color: #ffa62b;
}
.box-header:hover p{
    color:white
}
.box-header:hover .icons{
opacity: 1;
}
.icons{
    position: absolute;
    bottom: 0;
    left: 100px;
    bottom: 250px;
    opacity: 0;
}
.icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3d424a;
}
.icon:hover{
    background-color: #ffa62b;
}
