body{
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
}
ul li{
    list-style: none;
    padding: 0;
}
.qualifed{
    font-size: 54px;
    font-weight: 500;
}
.team{
    color: #ffa62b;
    font-weight: 600;
}
.hover{
    position: relative;
}
.engineer{
    background-position: top center;
    background-size: cover;
    height: 420px;
    width: 100%;
}
.h3p{
    text-align: center;
}
h3{
    color:#3d424a;
    font-size: 20px;
    font-weight: 500;
}
p{
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    text-transform: uppercase;
}
.hover:hover{
    background-color: #ffa62b;
}
.hover:hover p{
    color:white
}
.hover:hover .icons{
opacity: 1;
}
.icons{
    position: absolute;
    bottom: 0;
    left: -30px;
    bottom: 120px;
    opacity: 0;
}
.icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3d424a;
}
.icon1{
    font-size: 18px;
    margin-top: -11px;
}
.icon:hover{
    background-color: #ffa62b;
}
.img{
width: 300px;
height: 400px;
}
.teach-box{
    text-align: center;
    justify-content: space-around;
}
.border{
    border:1px solid black ;
    width: 800px;
    height: 500px;
}



